"*":
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "[]"
      "{}"
      "\"\""
      "''"
      "``"
      "“”"
      "‘’"
      "«»"
      "‹›"
      "<>"
    ]
  core:
    disabledPackages: [
      "whitespace"
      "revert-buffer"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Fira Code"
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "d6167cee-96fe-4b43-b538-c820a24cc9e9"
  "linter-ui-default":
    panelHeight: 118
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
