"*":
  "autocomplete-plus":
    confirmCompletion: "tab"
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-ruby-on-rails"
      "vim-mode"
      "open-on-github"
      "language-chef"
      "linter-perlcritic"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
  editor:
    backUpBeforeSaving: true
    fontSize: 15
    lineHeight: 1.1
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "c2bb7e60-54e4-0192-91e8-e992f51407bc"
  linter:
    errorPanelHeight: 24
    ignoreMatchedFiles: "/**/*{ebuild,KGBUILD}"
    ignoreVCSIgnoredFiles: false
  "linter-perl":
    executablePath: "/usr/bin/perl"
  "linter-perlcritic":
    executablePath: "/usr/bin/vendor_perl/perlcritic"
  "linter-shellcheck":
    enableNotice: true
  perldoc:
    binary: "/usr/bin/core_perl/pod2html"
  perltidy:
    binary: "/usr/bin/vendor_perl/perltidy"
  "terminal-plus":
    core:
      autoRunCommand: "zsh"
    toggles:
      autoClose: true
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
