"*":
  "autocomplete-plus":
    confirmCompletion: "tab"
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-ruby-on-rails"
      "vim-mode"
      "open-on-github"
      "language-chef"
      "language-gfm"
      "markdown-preview-plus"
      "markdown-scroll-sync"
      "linter-perlcritic"
      "linter-perl"
      "perltidy"
      "language-perl"
      "atom-perl6-editor-tools"
      "hyperclick"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
  editor:
    backUpBeforeSaving: true
    fontFamily: "Fira Code"
    lineHeight: 1.1
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?…"
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "c2bb7e60-54e4-0192-91e8-e992f51407bc"
  linter:
    errorPanelHeight: 22
    ignoreMatchedFiles: "/**/*{ebuild,KGBUILD}"
    ignoreVCSIgnoredFiles: false
  "linter-perl":
    executablePath: "/usr/bin/perl"
  "linter-perlcritic":
    executablePath: "/usr/bin/vendor_perl/perlcritic"
  "linter-shellcheck":
    enableNotice: true
  perldoc:
    binary: "/usr/bin/core_perl/pod2html"
  perltidy:
    binary: "/usr/bin/vendor_perl/perltidy"
  "terminal-plus":
    core:
      autoRunCommand: "zsh"
    toggles:
      autoClose: true
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
".md.text":
  editor:
    tabLength: 4
".meta-info.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".perl6fe.regexp.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".perl6fe.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
